In [2]:
import pandas as pd
import sqlite3 as sql

In [3]:
#create connection to database
database = 'db/diamonds_m2.db'
connection = sql.connect(database)

In [4]:
print(pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", connection))

                     name
0     diamonds_dimensions
1  diamonds_transactional
2     diamonds_properties
3            diamonds_cut
4          diamonds_color
5        diamonds_clarity
6           diamonds_city

In [5]:
cur = connection.cursor()
cur.description
cur

In [6]:
df = pd.DataFrame(cur.fetchall())
df

Empty DataFrame
Columns: []
Index: []

In [7]:
cur.description

In [8]:
query = '''SELECT * FROM diamonds_dimensions'''
query2 = '''SELECT * FROM diamonds_transactional'''
query3 = '''SELECT * FROM diamonds_properties'''
query4 = '''SELECT * FROM diamonds_cut'''
query5 = '''SELECT * FROM diamonds_color'''
query6 = '''SELECT * FROM diamonds_clarity'''
query7 = '''SELECT * FROM diamonds_city'''

In [9]:
df = pd.read_sql_query(query, connection)

In [10]:
df1 = pd.read_sql_query(query2, connection)

In [11]:
df2 = pd.read_sql_query(query3, connection)

In [12]:
df3 = pd.read_sql_query(query4, connection)

In [13]:
df4 = pd.read_sql_query(query5, connection)

In [14]:
df5 = pd.read_sql_query(query6, connection)

In [15]:
df6 = pd.read_sql_query(query7, connection)

In [16]:
df_unido1 = pd.merge(df, df1, on = 'index_id')
df_unido2 = pd.merge(df_unido1,df2, on = 'index_id')
df_unido3 = pd.merge(df_unido2,df3, on = 'cut_id')
df_unido4 = pd.merge(df_unido3,df4, on = 'color_id')
df_unido5 = pd.merge(df_unido4,df5, on = 'clarity_id')
df_unido6 = pd.merge(df_unido5,df6, on = 'city_id')
df_unido6

,index_id,depth,table,x,y,z,price,city_id,carat,cut_id,color_id,clarity_id,cut,color,clarity,city
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,62.4,58.0,6.83,6.79,4.25,4268,6c425048aa7badd9d84615bd8620ca1864efd81cfdb69d...,1.21,de88c121a82a06352bf1aaceba20578356408a334ba046...,6da43b944e494e885e69af021f93c6d9331c78aa228084...,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...,Premium,J,VS2,Dubai
1,41667f6e2629360aecaf00b20f8732e3310417ebd54b24...,61.6,58.0,6.40,6.35,3.93,3513,6c425048aa7badd9d84615bd8620ca1864efd81cfdb69d...,1.02,de88c121a82a06352bf1aaceba20578356408a334ba046...,6da43b944e494e885e69af021f93c6d9331c78aa228084...,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...,Premium,J,VS2,Dubai
2,01f8667f50d52677bea23231a74156e4f92360d7bc3db6...,62.3,58.0,5.86,5.80,3.63,1792,6c425048aa7badd9d84615bd8620ca1864efd81cfdb69d...,0.77,de88c121a82a06352bf1aaceba20578356408a334ba046...,6da43b944e494e885e69af021f93c6d9331c78aa228084...,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...,Premium,J,VS2,Dubai
3,c3867352aab641358faec75d733af012dbe2259a014ea8...,59.6,60.0,7.58,7.48,4.49,7553,6c425048aa7badd9d84615bd8620ca1864efd81cfdb69d...,1.51,de88c121a82a06352bf1aaceba20578356408a334ba046...,6da43b944e494e885e69af021f93c6d9331c78aa228084...,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...,Premium,J,VS2,Dubai
4,0da4b104c4d8589fcb96a03aa0787549a2631935b0f499...,60.2,62.0,5.40,5.33,3.23,1176,6c425048aa7badd9d84615bd8620ca1864efd81cfdb69d...,0.57,de88c121a82a06352bf1aaceba20578356408a334ba046...,6da43b944e494e885e69af021f93c6d9331c78aa228084...,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...,Premium,J,VS2,Dubai
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40450,3df6f3da962b819057888dbbe3cf4d11f9a59261ba0af7...,62.2,54.0,5.24,5.27,3.27,2729,ba04d229e496b8383a4df91f5e77c194a95cf1a069b0b2...,0.54,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,f67ab10ad4e4c53121b6a5fe4da9c10ddee905b978d378...,7020fd7aaf1656dea5c0c0c3d4bb5a28ebf6243fba95d3...,Ideal,F,IF,Surat
40451,e5bc95d36abda5bfd67641eca60f2ab92f37b27c0397e0...,61.9,54.0,5.22,5.25,3.24,2802,ba04d229e496b8383a4df91f5e77c194a95cf1a069b0b2...,0.53,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,f67ab10ad4e4c53121b6a5fe4da9c10ddee905b978d378...,7020fd7aaf1656dea5c0c0c3d4bb5a28ebf6243fba95d3...,Ideal,F,IF,Surat
40452,5ad0fcca0db9b3d399e31a3d909a1a3f4da38c663256b3...,62.3,55.0,4.30,4.34,2.69,886,ba04d229e496b8383a4df91f5e77c194a95cf1a069b0b2...,0.30,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,f67ab10ad4e4c53121b6a5fe4da9c10ddee905b978d378...,7020fd7aaf1656dea5c0c0c3d4bb5a28ebf6243fba95d3...,Ideal,F,IF,Surat
40453,c8559278b1ac356e1e414320a4efbbe788dc16623e7873...,60.9,55.0,4.15,4.23,2.55,768,ba04d229e496b8383a4df91f5e77c194a95cf1a069b0b2...,0.26,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,f67ab10ad4e4c53121b6a5fe4da9c10ddee905b978d378...,7020fd7aaf1656dea5c0c0c3d4bb5a28ebf6243fba95d3...,Ideal,F,IF,Surat
40454,d7e77869948ba7500ca20937afd59c8f9b7a0238adb814...,61.2,56.0,4.37,4.42,2.69,921,ba04d229e496b8383a4df91f5e77c194a95cf1a069b0b2...,0.31,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,f67ab10ad4e4c53121b6a5fe4da9c10ddee905b978d378...,7020fd7aaf1656dea5c0c0c3d4bb5a28ebf6243fba95d3...,Ideal,F,IF,Surat

In [17]:
df_final = df_unido6.loc[:, ['index_id', 'depth', 'table', 'x', 'y', 'z', 'price', 'carat', 'cut', 'color', 'clarity', 'city']]
df_final

,index_id,depth,table,x,y,z,price,carat,cut,color,clarity,city
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,62.4,58.0,6.83,6.79,4.25,4268,1.21,Premium,J,VS2,Dubai
1,41667f6e2629360aecaf00b20f8732e3310417ebd54b24...,61.6,58.0,6.40,6.35,3.93,3513,1.02,Premium,J,VS2,Dubai
2,01f8667f50d52677bea23231a74156e4f92360d7bc3db6...,62.3,58.0,5.86,5.80,3.63,1792,0.77,Premium,J,VS2,Dubai
3,c3867352aab641358faec75d733af012dbe2259a014ea8...,59.6,60.0,7.58,7.48,4.49,7553,1.51,Premium,J,VS2,Dubai
4,0da4b104c4d8589fcb96a03aa0787549a2631935b0f499...,60.2,62.0,5.40,5.33,3.23,1176,0.57,Premium,J,VS2,Dubai
...,...,...,...,...,...,...,...,...,...,...,...,...
40450,3df6f3da962b819057888dbbe3cf4d11f9a59261ba0af7...,62.2,54.0,5.24,5.27,3.27,2729,0.54,Ideal,F,IF,Surat
40451,e5bc95d36abda5bfd67641eca60f2ab92f37b27c0397e0...,61.9,54.0,5.22,5.25,3.24,2802,0.53,Ideal,F,IF,Surat
40452,5ad0fcca0db9b3d399e31a3d909a1a3f4da38c663256b3...,62.3,55.0,4.30,4.34,2.69,886,0.30,Ideal,F,IF,Surat
40453,c8559278b1ac356e1e414320a4efbbe788dc16623e7873...,60.9,55.0,4.15,4.23,2.55,768,0.26,Ideal,F,IF,Surat
40454,d7e77869948ba7500ca20937afd59c8f9b7a0238adb814...,61.2,56.0,4.37,4.42,2.69,921,0.31,Ideal,F,IF,Surat

In [18]:
query_sql = '''SELECT trans.index_id, cla.clarity, col.color, ct.cut, diam.depth, 
diam.'table', diam.x, diam.y, diam.z, trans.price, ci.city, trans.carat
FROM diamonds_properties pro
   INNER JOIN diamonds_clarity cla ON pro.clarity_id = cla.clarity_id 
   INNER JOIN diamonds_color col on pro.color_id = col.color_id 
   INNER JOIN diamonds_cut ct on pro.cut_id = ct.cut_id 
   INNER JOIN diamonds_dimensions diam on pro.index_id = diam.index_id
   INNER JOIN diamonds_transactional trans on pro.index_id = trans.index_id
   INNER JOIN diamonds_city ci on trans.city_id = ci.city_id'''

In [19]:
df_sql = pd.read_sql_query(query_sql, connection)
df_sql.head()

,index_id,clarity,color,cut,depth,table,x,y,z,price,city,carat
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,VS2,J,Premium,62.4,58.0,6.83,6.79,4.25,4268,Dubai,1.21
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,VS2,H,Very Good,63.0,57.0,4.35,4.38,2.75,505,Kimberly,0.32
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,VS1,G,Fair,65.5,55.0,5.62,5.53,3.65,2686,Las Vegas,0.71
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,SI1,D,Good,63.8,56.0,4.68,4.72,3.00,738,Kimberly,0.41
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,SI1,G,Ideal,60.5,59.0,6.55,6.51,3.95,4882,Dubai,1.02

In [20]:
df_sql.rename(columns = {'x': 'length', 'y': 'width', 'z': 'height'}, inplace = True)
df_sql.head()

,index_id,clarity,color,cut,depth,table,length,width,height,price,city,carat
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,VS2,J,Premium,62.4,58.0,6.83,6.79,4.25,4268,Dubai,1.21
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,VS2,H,Very Good,63.0,57.0,4.35,4.38,2.75,505,Kimberly,0.32
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,VS1,G,Fair,65.5,55.0,5.62,5.53,3.65,2686,Las Vegas,0.71
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,SI1,D,Good,63.8,56.0,4.68,4.72,3.00,738,Kimberly,0.41
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,SI1,G,Ideal,60.5,59.0,6.55,6.51,3.95,4882,Dubai,1.02

In [21]:
df_sql.describe()

,depth,table,length,width,height,price,carat
count,40455.000000,40455.000000,40455.000000,40455.000000,40455.000000,40455.000000,40455.000000
mean,61.752841,57.446133,5.729392,5.732819,3.537154,3928.444469,0.797706
std,1.431725,2.233535,1.124453,1.146650,0.697062,3992.416147,0.475544
min,43.000000,43.000000,0.000000,0.000000,0.000000,326.000000,0.200000
25%,61.000000,56.000000,4.710000,4.720000,2.910000,945.000000,0.400000
50%,61.800000,57.000000,5.690000,5.710000,3.520000,2397.000000,0.700000
75%,62.500000,59.000000,6.540000,6.540000,4.035000,5331.000000,1.040000
max,79.000000,95.000000,10.230000,58.900000,8.060000,18823.000000,4.500000

In [22]:
df_sql.groupby('cut').mean()

,depth,table,length,width,height,price,carat
cut,,,,,,,
Fair,64.051438,59.022104,6.248825,6.184289,3.985193,4333.271980,1.047305
Good,62.407699,58.652307,5.824797,5.836140,3.632361,3880.611794,0.844565
Ideal,61.703206,55.952990,5.500933,5.512639,3.396982,3436.112577,0.700337
Premium,61.261082,58.737076,5.982015,5.954603,3.651374,4617.322612,0.896125
Very Good,61.824794,57.956031,5.743912,5.773269,3.559988,3994.444420,0.808056

In [24]:
df_sql.groupby(['cut', 'color']).mean()

                     depth      table    length     width    height  \
cut       color
Fair      D      64.151969  58.622047  6.036142  5.982992  3.858346
          E      63.385714  59.291667  5.910357  5.860536  3.725417
          F      63.589823  59.390265  5.947080  5.891504  3.768982
          G      64.291026  58.842308  6.208632  6.148675  3.988462
          H      64.378261  58.878261  6.571609  6.483043  4.197478
          I      64.409220  59.067376  6.521418  6.452340  4.176596
          J      64.290110  58.924176  6.785055  6.711209  4.337253
Good      D      62.433943  58.482317  5.586077  5.599411  3.488028
          E      62.230290  58.786087  5.599580  5.612174  3.484783
          F      62.199548  58.938102  5.693554  5.711355  3.544940
          G      62.535791  58.368356  5.842320  5.854286  3.638848
          H      62.545149  58.597388  5.942668  5.946884  3.713358
          I      62.537755  58.661480  6.227857  6.234974  3.890051
          J      62.574370  58.703782  6.360126  6.367017  3.977899
Ideal     D      61.687523  55.940399  5.172138  5.181809  3.193330
          E      61.676894  55.964038  5.218797  5.228423  3.221052
          F      61.666747  55.925197  5.390542  5.405221  3.326908
          G      61.693819  55.911676  5.518349  5.532000  3.407118
          H      61.719467  55.990394  5.729835  5.738299  3.538794
          I      61.792523  56.013849  5.951404  5.964642  3.679064
          J      61.812482  56.017417  6.309028  6.320740  3.906154
Premium   D      61.193074  58.651515  5.594987  5.568130  3.414476
          E      61.168646  58.768069  5.597314  5.568847  3.414801
          F      61.250058  58.681047  5.869907  5.838500  3.583064
          G      61.269873  58.703131  5.871053  5.840844  3.583852
          H      61.307171  58.799266  6.250350  6.240090  3.811954
          I      61.326698  58.769717  6.504660  6.468330  3.971651
          J      61.403089  58.853333  6.831821  6.793528  4.182276
Very Good D      61.745040  58.057551  5.504978  5.536059  3.407283
          E      61.725344  58.079669  5.435565  5.466331  3.363736
          F      61.724242  57.822606  5.609812  5.642539  3.472800
          G      61.854345  57.764774  5.664148  5.692642  3.513598
          H      61.976616  57.914887  5.983827  6.007734  3.715316
          I      61.967925  58.072475  6.275549  6.301509  3.894684
          J      61.916765  58.279487  6.486686  6.520000  4.024596

                       price     carat
cut       color
Fair      D      4352.748031  0.931260
          E      3609.880952  0.855179
          F      3699.176991  0.885531
          G      4473.021368  1.055513
          H      5004.486957  1.204130
          I      4459.014184  1.175106
          J      4965.703297  1.350220
Good      D      3311.693089  0.730203
          E      3399.881159  0.737710
          F      3477.504518  0.778283
          G      4035.720430  0.846513
          H      4210.824627  0.904963
          I      5008.928571  1.052526
          J      4548.701681  1.091807
Ideal     D      2579.709647  0.560250
          E      2624.818649  0.580113
          F      3284.470003  0.648512
          G      3751.364560  0.703374
          H      3873.835802  0.798003
          I      4409.012354  0.904688
          J      4854.274311  1.059927
Premium   D      3638.838961  0.719481
          E      3578.086455  0.722144
          F      4309.327326  0.824599
          G      4519.912432  0.845073
          H      5241.424619  1.018617
          I      6023.163208  1.153925
          J      6376.983740  1.304618
Very Good D      3468.689008  0.697721
          E      3198.432507  0.676678
          F      3790.583636  0.741255
          G      3896.574160  0.768546
          H      4541.993464  0.916950
          I      5292.506104  1.051243
          J      5207.161736  1.145878

In [56]:
df_sql.to_csv('diamonds.csv', index=False)